.container-admin {

    border: 2px solid rgb(255, 255, 255);
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.table {

    border: 2px solid black;
    background-color: #92cbdf;

    width: 50vw;
    height: 129vh;


}

.innertable {
    margin:30px;
    background-color: white;

}

.username {
    position: relative;
    bottom: 110px;
    right: 375px;
}